
#CI Automation testing
name: Run CI application
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: By Pass CI
      run: exit 0

# 2️⃣ CD: deploy DEV
  deploy-dev:
      name: Deploy to DEV
      runs-on: ubuntu-latest
      needs: ci

      steps:
        - name: Deploy application to DEV
          run: echo "Deploying to DEV environment..."

  #Test DEV: integration + functional
  test-dev:
      name: Integration & Functional Test on DEV
      runs-on: ubuntu-latest
      needs: deploy-dev

      env:
        BASE_URL: https://opensource-demo.orangehrmlive.com

      steps:
        - name: Trigger automation tests
          run: |
            curl -X POST \
              -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
              https://github.com/repos/VanKim/Automation_02.git//dispatches \
              -d '{"event_type":"run-dev-tests"}'



